{
  "mcpServers": {
    "gdrive": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-gdrive"
      ],
      "env": {
        "GDRIVE_CLIENT_ID": "${GOOGLE_CLIENT_ID}",
        "GDRIVE_CLIENT_SECRET": "${GOOGLE_CLIENT_SECRET}"
      },
      "disabled": false
    }
  }
}
